Repository DevExpress/testcafe: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

azure-pipelines.yml:

trigger:
  branches:
    exclude:
    - build-bot-temp-*
    - (testbot-only)*
    - new-docs

  paths:
    include:
    - /bin
    - /src
    - /test
    - /azure-pipelines.yml
    - /Gulpfile.js
    - /package.json

pool: 'BrowserStack agents'

variables:
  RETRY_FAILED_TESTS: "true"

steps:
- bash: |
    if [[ $BUILD_SOURCEVERSIONMESSAGE =~ ^\[docs\] ]] || [[ ! -f "appveyor.yml" ]]; then
      echo '##vso[task.setvariable variable=isDocCommit]true'
    fi
  displayName: 'Check commit type'

- task: NodeTool@0
  displayName: 'Install Node.js'
  condition: and(succeeded(), not(variables['isDocCommit']))
  timeoutInMinutes: 40
  inputs:
    versionSpec: '10.x'

- task: DeleteFiles@1
  inputs:
    Contents: node_modules

- bash: |
    npm install --no-progress --loglevel error
    npm test
  displayName: 'Run tests'
  condition: and(succeeded(), not(variables['isDocCommit']))
  timeoutInMinutes: 60

azure-pipelines/test-functional-headless.yml:

trigger:
  paths:
    include:
    - /azure-pipelines
    - /bin
    - /src
    - /test
    - /Gulpfile.js
    - /package.json

jobs:
- template: test-code-job-template.yml
  parameters:
    name: 'Tests'
    task: 'test-functional-local-ie'
    pool:
      vmImage: vs2017-win2016

final edits
  docs/articles/documentation/guides/concepts/typescript-and-coffeescript.md
Due: none

Remove consecutive blank lines
  docs/articles/documentation/guides/concepts/typescript-and-coffeescript.md
Due: none

Fixed a broken link
  docs/articles/documentation/reference/configuration-file.md
Due: none

final touches
  docs/articles/documentation/guides/concepts/typescript-and-coffeescript.md
Due: none

Code review suggestions
  docs/articles/documentation/guides/concepts/typescript-and-coffeescript.md
Due: none

quotation marks
  docs/articles/documentation/guides/concepts/typescript-and-coffeescript.md
Due: none

Better phrasing
  docs/articles/documentation/reference/command-line-interface.md
  docs/articles/documentation/reference/configuration-file.md
  docs/articles/documentation/reference/testcafe-api/runner/compileroptions.md
Due: none

Apply suggestions from code review
  docs/articles/documentation/guides/concepts/typescript-and-coffeescript.md
Due: none

Fifth time's the charm
  docs/articles/documentation/guides/concepts/typescript-and-coffeescript.md
Due: none

factcheckd
  docs/articles/documentation/reference/command-line-interface.md
Due: none

Fixed a different broken link
  docs/articles/documentation/reference/testcafe-api/runner/compileroptions.md
Due: none

Fixed another broken link
  docs/articles/documentation/reference/testcafe-api/runner/compileroptions.md
Due: none

typescript.options.lib fix
  docs/articles/documentation/reference/command-line-interface.md
Due: none

Edits following Michael's review
  docs/articles/documentation/guides/concepts/typescript-and-coffeescript.md
  docs/articles/documentation/reference/command-line-interface.md
  docs/articles/documentation/reference/configuration-file.md
  docs/articles/documentation/reference/testcafe-api/runner/tsconfigpath.md
Due: none

NO 👏 MORE 👏 BROKEN 👏 LINKS
  docs/articles/documentation/guides/concepts/typescript-and-coffeescript.md
  docs/articles/documentation/reference/command-line-interface.md
Due: none

you have to be kidding me
  docs/articles/documentation/reference/command-line-interface.md
Due: none

This is more boring than fishing
  docs/articles/documentation/reference/command-line-interface.md
Due: none

PLEASE MAKE IT STOP
  docs/articles/documentation/reference/testcafe-api/runner/compileroptions.md
Due: none

test
  test/functional/setup.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Describe how to disable popup
  docs/articles/documentation/guides/basic-guides/interact-with-the-page.md
  docs/articles/images/close-window-popup-IE.png
Due: none

[docs] Update the TypeScript guide, describe the 'compiler options' feature (#5664)
  docs/articles/documentation/guides/concepts/typescript-and-coffeescript.md
  docs/articles/documentation/reference/README.md
  docs/articles/documentation/reference/command-line-interface.md
  docs/articles/documentation/reference/configuration-file.md
  docs/articles/documentation/reference/testcafe-api/runner/README.md
  docs/articles/documentation/reference/testcafe-api/runner/compileroptions.md
  docs/articles/documentation/reference/testcafe-api/runner/tsconfigpath.md
Due: none

Add a note about testing websites with VPN
  docs/articles/faq/README.md
Due: none

Vasily's review
  docs/articles/documentation/guides/continuous-integration/circleci.md
Due: none

Final test
  docs/articles/documentation/guides/continuous-integration/circleci.md
Due: none

test
  azure-pipelines.yml
Due: azure-pipelines.yml

Try to avoid out-of-memory errors
  Gulpfile.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix clean loc
  src/compiler/test-file/test-file-parser-base.js
  test/server/parse-fixture-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Move to "Run tests"
  docs/articles/documentation/guides/basic-guides/interact-with-the-page.md
  docs/articles/documentation/guides/basic-guides/run-tests.md
Due: none

fix clean loc (#5760)
  src/compiler/test-file/test-file-parser-base.js
  test/server/parse-fixture-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fix BC in test action result definitions
  test/server/data/test-suites/typescript-defs/test-controller.ts
  test/server/data/test-suites/typescript-testcafe-scripts-defs/test-controller.ts
  ts-defs-src/test-api/test-controller.d.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fix BC in test action result definitions (#5761)
  test/server/data/test-suites/typescript-defs/test-controller.ts
  test/server/data/test-suites/typescript-testcafe-scripts-defs/test-controller.ts
  ts-defs-src/test-api/test-controller.d.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Bump version (v1.10.0-rc.5)
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Apply suggestions from code review
  docs/articles/documentation/why-testcafe/README.md
Due: none

Address Dirk's remarks
  docs/articles/blog/2020-12-2-v1-10-0-new-compiler-options-api-resize-and-screenshot-support-for-child-windows.md
Due: none

ellipsis
  docs/articles/blog/2020-12-2-v1-10-0-new-compiler-options-api-resize-and-screenshot-support-for-child-windows.md
Due: none

Change the release date
  docs/articles/blog/2020-12-3-v1-10-0-new-compiler-options-api-resize-and-screenshot-support-for-child-windows.md
Due: none

Fix broken links
  docs/articles/blog/2020-12-3-v1-10-0-new-compiler-options-api-resize-and-screenshot-support-for-child-windows.md
  docs/articles/documentation/guides/continuous-integration/circleci-and-lambdatest.md
Due: none

Update docs/articles/documentation/guides/basic-guides/select-page-elements.md
  docs/articles/documentation/guides/basic-guides/select-page-elements.md
Due: none
