Repository DevExpress/testcafe: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

azure-pipelines.yml:
  pool: BrowserStack agents
  steps:
  - bash: "if [[ $BUILD_SOURCEVERSIONMESSAGE =~ ^\\[docs\\] ]] || [[ ! -f \"appveyor.yml\" ]]; then\n  echo '##vso[task.setvariable variable=isDocCommit]true'\nfi\n"
    displayName: Check commit type
  - task: NodeTool@0
    displayName: Install Node.js
  ...

azure-pipelines/test-functional-headless.yml:
  jobs:
  - template: test-code-job-template.yml
    parameters:
      name: Tests
      task: test-functional-local-ie
      pool:
        vmImage: vs2017-win2016

Safari only
  test/functional/config.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Mojave
  test/functional/config.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

[docs] Add new contributors
  README.md
Due: none

initial
  package.json
  src/api/request-hooks/hook.js
  src/api/request-hooks/hook.ts
  src/api/request-hooks/interfaces.ts
  src/api/request-hooks/request-logger.ts
  src/api/request-hooks/request-mock.js
  src/api/request-hooks/request-mock.ts
  src/api/test-run-tracker.d.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

[docs] Add new contributors (#5505)
  README.md
Due: none

update xammerhead
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Clean cache on Azure
  azure-pipelines.yml
Due: azure-pipelines.yml

[docs] Mention Edge Legacy in the concurrency note
  docs/articles/documentation/guides/basic-guides/run-tests.md
Due: none

update hammerhead again
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Update azure-pipelines.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

Catalina
  test/functional/config.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

add api listBrowsers
  src/api/exportable-lib/index.js
  src/cli/cli.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix test
  package.json
  src/api/request-hooks/request-logger.ts
  src/api/request-hooks/request-mock.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Update src/api/request-hooks/hook.ts
  src/api/request-hooks/hook.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Update src/api/request-hooks/interfaces.ts
  src/api/request-hooks/interfaces.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

allow to run: npx gulp lint --fix
  Gulpfile.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

add API function listBrowsers
  src/cli/cli.js
  src/embedding-utils.js
  src/utils/list-browsers.js
  test/server/api-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Describe file upload procedure
  docs/articles/documentation/guides/basic-guides/interact-with-the-page.md
Due: none

Apply codestyle suggestions
  src/api/request-hooks/request-logger.ts
  src/api/request-hooks/request-mock.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fix import
  src/api/request-hooks/request-logger.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix tests
  src/api/request-hooks/request-logger.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Rewrite request hooks to TypeScript (#5506)
  package.json
  src/api/request-hooks/hook.js
  src/api/request-hooks/hook.ts
  src/api/request-hooks/interfaces.ts
  src/api/request-hooks/request-logger.ts
  src/api/request-hooks/request-mock.js
  src/api/request-hooks/request-mock.ts
  src/api/test-run-tracker.d.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

add consistent:true option
  .eslintrc
  src/api/test-controller/index.js
  src/client/driver/driver.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fixes header types for request and response mocks (#5529)
  test/server/data/test-suites/typescript-defs/request-hooks.ts
  test/server/data/test-suites/typescript-testcafe-scripts-defs/request-hooks.ts
  ts-defs-src/test-api/request-hook.d.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

[docs] Mention Edge Legacy in the concurrency note (#5514)
  docs/articles/documentation/guides/basic-guides/run-tests.md
Due: none

Add file upload recipe
  docs/README.md
  docs/articles/documentation/guides/basic-guides/interact-with-the-page.md
  docs/articles/documentation/recipes/README.md
  docs/articles/documentation/recipes/basics/test-file-upload.md
  docs/articles/documentation/reference/test-api/testcontroller/setfilestoupload.md
Due: none

fix: unmarked session when restarting
  src/browser/connection/index.ts
  src/runner/browser-job-result.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fixes header types for request and response mocks (#5529) (#5530)
  test/server/data/test-suites/typescript-defs/request-hooks.ts
  test/server/data/test-suites/typescript-testcafe-scripts-defs/request-hooks.ts
  ts-defs-src/test-api/request-hook.d.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fix excessive "missing await" warnings (closes #5534)
  src/client-functions/selectors/add-api.js
  test/functional/fixtures/api/es-next/assertions/data/expected-missing-await-on-snapshot-callsite
  test/functional/fixtures/api/es-next/assertions/data/expected-missing-await-on-snapshot-callsite/console-log
  test/functional/fixtures/api/es-next/assertions/data/expected-missing-await-on-snapshot-callsite/template-expansion
  test/functional/fixtures/api/es-next/assertions/test.js
  test/functional/fixtures/api/es-next/assertions/testcafe-fixtures/assertions-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fix excessive "missing await" warnings (closes #5534) (#5537)
  src/client-functions/selectors/add-api.js
  test/functional/fixtures/api/es-next/assertions/data/expected-missing-await-on-snapshot-callsite
  test/functional/fixtures/api/es-next/assertions/data/expected-missing-await-on-snapshot-callsite/console-log
  test/functional/fixtures/api/es-next/assertions/data/expected-missing-await-on-snapshot-callsite/template-expansion
  test/functional/fixtures/api/es-next/assertions/test.js
  test/functional/fixtures/api/es-next/assertions/testcafe-fixtures/assertions-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Minor edits, add recipe to .yml
  docs/articles/documentation/guides/basic-guides/interact-with-the-page.md
  docs/articles/documentation/recipes/basics/test-file-upload.md
  docs/nav/nav-menu.yml
Due: none

update hammerhead
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

semicolons
  @types/chrome-remote-interface/index.d.ts
Due: none

test
  test/functional/fixtures/regression/hammerhead/gh-2350/pages/inital-value-script-only-in-body.html
  test/functional/fixtures/regression/hammerhead/gh-2350/test.js
  test/functional/fixtures/regression/hammerhead/gh-2350/testcafe-fixtures/index.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Path conditions:
  azure-pipelines.yml: any of: bin, src, test, azure-pipelines.yml, Gulpfile.js, package.json
  azure-pipelines/test-functional-headless.yml: any of: azure-pipelines, bin, src, test, Gulpfile.js, package.json
