Repository DevExpress/testcafe: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

azure-pipelines.yml:

trigger:
  branches:
    exclude:
    - build-bot-temp-*
    - (testbot-only)*
    - new-docs

  paths:
    include:
    - /bin
    - /src
    - /test
    - /azure-pipelines.yml
    - /Gulpfile.js
    - /package.json

pool: 'BrowserStack agents'

variables:
  RETRY_FAILED_TESTS: "true"

steps:
- bash: |
    if [[ $BUILD_SOURCEVERSIONMESSAGE =~ ^\[docs\] ]] || [[ ! -f "appveyor.yml" ]]; then
      echo '##vso[task.setvariable variable=isDocCommit]true'
    fi
  displayName: 'Check commit type'

- task: NodeTool@0
  displayName: 'Install Node.js'
  condition: and(succeeded(), not(variables['isDocCommit']))
  timeoutInMinutes: 40
  inputs:
    versionSpec: '10.x'

- bash: |
    npm install --no-progress --loglevel error
    npm test
  displayName: 'Run tests'
  condition: and(succeeded(), not(variables['isDocCommit']))
  timeoutInMinutes: 60

azure-pipelines/test-functional-headless.yml:

trigger:
  paths:
    include:
    - /azure-pipelines
    - /bin
    - /src
    - /test
    - /Gulpfile.js
    - /package.json

jobs:
- template: test-code-job-template.yml
  parameters:
    name: 'Tests'
    task: 'test-functional-local-ie'
    pool:
      vmImage: vs2017-win2016

fix docker related problems in gulpfile.js
  Gulpfile.js
  gulp/docker/run-functional-test-via-command-line.js
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix docker related problems in gulpfile.js (#5753)
  Gulpfile.js
  gulp/docker/run-functional-test-via-command-line.js
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Add example and describe how selector and asserton timeouts work for selector.exists and selector.count
  docs/articles/documentation/guides/basic-guides/select-page-elements.md
Due: none

Misc changes
  docs/articles/documentation/guides/basic-guides/select-page-elements.md
Due: none

Add service worker & fix browser restart
  src/browser/connection/gateway.ts
  src/browser/connection/index.ts
  src/browser/connection/unstable-network-mode.js
  src/cli/argument-parser.ts
  src/cli/cli.js
  src/client/browser/idle-page/index.html.mustache
  src/client/browser/idle-page/index.js
  src/client/browser/index.js
  src/client/browser/service-worker.js
  src/client/driver/command-executors/execute-navigate-to.js
  src/client/driver/driver.js
  src/client/rollup.config.js
  src/client/test-run/iframe.js.mustache
  src/load-assets.js
  src/test-run/index.js
  src/test-run/session-controller.js
  test/functional/config.js
  test/functional/fixtures/api/es-next/request-hooks/testcafe-fixtures/api/add-remove-request-hook.js
  test/functional/fixtures/api/es-next/request-hooks/testcafe-fixtures/api/execution-order.js
  test/functional/fixtures/api/es-next/request-hooks/testcafe-fixtures/api/i4122.js
  test/functional/fixtures/api/es-next/request-hooks/testcafe-fixtures/request-logger/api.js
  test/functional/setup.js
  test/server/cli-argument-parser-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

test no sw in driver
  src/client/driver/driver.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

test no await
  src/client/driver/driver.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Safari only
  test/functional/config.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

retry test pages disable
  test/functional/config.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Try another
  test/functional/config.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Mojave
  test/functional/config.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Clean cache on Azure
  azure-pipelines.yml
Due: azure-pipelines.yml

Update azure-pipelines.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

Catalina
  test/functional/config.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Remove the outdated config for an unused bot
  .github/stale.yml
Due: none

Set days-before-stale to 400
  .github/workflows/stale.yml
Due: none

add tests
  src/browser/connection/gateway.ts
  src/browser/connection/index.ts
  src/client/driver/command-executors/execute-navigate-to.js
  test/functional/fixtures/regression/gh-5239/test.js
  test/functional/fixtures/regression/gh-5239/testcafe-fixtures/index.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

vasily's review
  docs/articles/documentation/guides/continuous-integration/circleci.md
Due: none

refactoring
  src/client/browser/index.js
  src/client/browser/service-worker.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix
  src/client/browser/index.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

not headless
  .travis.yml
  test/functional/fixtures/regression/gh-5239/test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

restore config
  azure-pipelines.yml
  test/functional/config.js
  test/functional/setup.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

head => headless
  .travis.yml
  test/functional/fixtures/regression/gh-5239/test.js
  test/functional/fixtures/regression/gh-5239/testcafe-fixtures/index.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

JSON formatting fix
  docs/articles/documentation/guides/concepts/typescript-and-coffeescript.md
Due: none

typo
  docs/articles/documentation/reference/configuration-file.md
Due: none

Applied more of the suggestions [v1]
  docs/articles/documentation/reference/command-line-interface.md
  docs/articles/documentation/reference/configuration-file.md
  docs/articles/documentation/reference/testcafe-api/runner/README.md
  docs/articles/documentation/reference/testcafe-api/runner/compileroptions.md
Due: none

Fixed a broken link
  docs/articles/documentation/reference/configuration-file.md
Due: none

Typos etc
  docs/articles/documentation/reference/command-line-interface.md
  docs/articles/documentation/reference/configuration-file.md
  docs/articles/documentation/reference/testcafe-api/runner/README.md
  docs/articles/documentation/reference/testcafe-api/runner/compileroptions.md
Due: none

appeased the linter
  docs/articles/documentation/guides/concepts/typescript-and-coffeescript.md
  docs/articles/documentation/reference/command-line-interface.md
  docs/articles/documentation/reference/configuration-file.md
  docs/articles/documentation/reference/testcafe-api/runner/compileroptions.md
Due: none

minor edits
  docs/articles/documentation/reference/command-line-interface.md
  docs/articles/documentation/reference/configuration-file.md
  docs/articles/documentation/reference/testcafe-api/runner/compileroptions.md
Due: none

minor edits
  docs/articles/documentation/reference/command-line-interface.md
  docs/articles/documentation/reference/configuration-file.md
Due: none

Updated the Typescript guide, new compiler options settings
  docs/articles/documentation/guides/concepts/typescript-and-coffeescript.md
  docs/articles/documentation/reference/README.md
  docs/articles/documentation/reference/command-line-interface.md
  docs/articles/documentation/reference/configuration-file.md
  docs/articles/documentation/reference/testcafe-api/runner/README.md
  docs/articles/documentation/reference/testcafe-api/runner/compileroptions.md
Due: none

Added a deprication notice to the runner.tsConfigPath article
  docs/articles/documentation/reference/testcafe-api/runner/tsconfigpath.md
Due: none

More typos
  docs/articles/documentation/reference/configuration-file.md
Due: none

mistakes were made
  docs/articles/documentation/reference/command-line-interface.md
  docs/articles/documentation/reference/configuration-file.md
  docs/articles/documentation/reference/testcafe-api/runner/README.md
  docs/articles/documentation/reference/testcafe-api/runner/compileroptions.md
Due: none

Final touches
  docs/articles/documentation/guides/concepts/typescript-and-coffeescript.md
  docs/articles/documentation/reference/command-line-interface.md
  docs/articles/documentation/reference/testcafe-api/runner/compileroptions.md
Due: none

Addressed @miherlosev's concerns
  docs/articles/documentation/guides/concepts/typescript-and-coffeescript.md
  docs/articles/documentation/reference/command-line-interface.md
  docs/articles/documentation/reference/configuration-file.md
  docs/articles/documentation/reference/testcafe-api/runner/compileroptions.md
Due: none

Code review suggestions
  docs/articles/documentation/guides/concepts/typescript-and-coffeescript.md
Due: none
