Repository DevExpress/testcafe: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

azure-pipelines.yml:

trigger:
  branches:
    exclude:
    - build-bot-temp-*
    - (testbot-only)*
    - new-docs

  paths:
    include:
    - /bin
    - /src
    - /test
    - /azure-pipelines.yml
    - /Gulpfile.js
    - /package.json

pool: 'BrowserStack agents'

variables:
  RETRY_FAILED_TESTS: "true"

steps:
- bash: |
    if [[ $BUILD_SOURCEVERSIONMESSAGE =~ ^\[docs\] ]] || [[ ! -f "appveyor.yml" ]]; then
      echo '##vso[task.setvariable variable=isDocCommit]true'
    fi
  displayName: 'Check commit type'

- task: NodeTool@0
  displayName: 'Install Node.js'
  condition: and(succeeded(), not(variables['isDocCommit']))
  timeoutInMinutes: 40
  inputs:
    versionSpec: '10.x'

- task: DeleteFiles@1
  inputs:
    Contents: node_modules

- bash: |
    npm install --no-progress --loglevel error
    npm test
  displayName: 'Run tests'
  condition: and(succeeded(), not(variables['isDocCommit']))
  timeoutInMinutes: 60

azure-pipelines/test-functional-headless.yml:

trigger:
  paths:
    include:
    - /azure-pipelines
    - /bin
    - /src
    - /test
    - /Gulpfile.js
    - /package.json

jobs:
- template: test-code-job-template.yml
  parameters:
    name: 'Tests'
    task: 'test-functional-local-ie'
    pool:
      vmImage: vs2017-win2016

Support of the RequestHook._onConfigureResponse event (final)
  package.json
  src/api/request-hooks/request-mock.ts
  src/services/compiler/host.ts
  src/services/compiler/protocol.ts
  src/services/compiler/service.ts
  src/services/compiler/test-run-proxy.ts
  src/test-run/index.js
  test/functional/fixtures/api/es-next/request-hooks/pages/api/change-remove-response-headers.html
  test/functional/fixtures/api/es-next/request-hooks/test.js
  test/functional/fixtures/api/es-next/request-hooks/testcafe-fixtures/api/change-remove-response-headers.js
  test/functional/fixtures/compiler-service/test.js
  test/functional/site/server.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

update hammerhead again
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Add a landing redirect
  docs/articles/index.html
Due: none

assets repo
  Gulpfile.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Update docs/articles/documentation/reference/test-api/testcontroller/dispatchEvent.md
  docs/articles/documentation/reference/test-api/testcontroller/dispatchEvent.md
Due: none

add redirect from using-testcafe
  docs/articles/documentation/getting-started/README.md
Due: none

redirect for using-testcafe page
  documentation/using-testcafe/index.html
  feed.xml
  redirects.json
  sitemap.xml
Due: none

redirect for using-testcafe page (#6146)
  documentation/using-testcafe/index.html
  feed.xml
  redirects.json
  sitemap.xml
Due: none

more redirects for old pages
  docs/articles/documentation/recipes/debugging/chrome-dev-tools.md
  docs/articles/documentation/recipes/integrations/gulp.md
Due: none

publications
  feed.xml
  publications/index.html
  redirects.json
  sitemap.xml
Due: none

more redirects for old pages
  documentation/recipes/debug-tests/index.html
  documentation/recipes/use-task-runners/index.html
  feed.xml
  redirects.json
  sitemap.xml
Due: none

more redirects for old pages (#6147)
  documentation/recipes/debug-tests/index.html
  documentation/recipes/use-task-runners/index.html
  feed.xml
  publications/index.html
  redirects.json
  sitemap.xml
Due: none

feat: Support of the RequestHook._onConfigureResponse event (final) (#6140)
  package.json
  src/api/request-hooks/request-mock.ts
  src/services/compiler/host.ts
  src/services/compiler/protocol.ts
  src/services/compiler/service.ts
  src/services/compiler/test-run-proxy.ts
  src/test-run/index.js
  test/functional/fixtures/api/es-next/request-hooks/pages/api/change-remove-response-headers.html
  test/functional/fixtures/api/es-next/request-hooks/test.js
  test/functional/fixtures/api/es-next/request-hooks/testcafe-fixtures/api/change-remove-response-headers.js
  test/functional/fixtures/compiler-service/test.js
  test/functional/site/server.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

[docs] Update links in README.md to testcafe.io
  README.md
Due: none

[docs] Update links in README.md to testcafe.io (#6148)
  README.md
Due: none

chore: update deps in the SauceLabs example
  examples/running-tests-using-travis-and-saucelabs/package.json
Due: none

chore: update deps in the SauceLabs example
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Remove the Saucelabs example
  examples/running-tests-using-travis-and-saucelabs/.travis.yml
  examples/running-tests-using-travis-and-saucelabs/README.md
  examples/running-tests-using-travis-and-saucelabs/index.html
  examples/running-tests-using-travis-and-saucelabs/package.json
  examples/running-tests-using-travis-and-saucelabs/server.js
  examples/running-tests-using-travis-and-saucelabs/tests/index-test.js
Due: none

Remove test-docs-travis from gulpfile
  Gulpfile.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Remove docs build and test scripts from gulpfile
  Gulpfile.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Delete .travis-docs.yml
  .travis-docs.yml
Due: none

Update .travis.yml
  .travis.yml
Due: none

refactor: remove docs from Appveyor
  appveyor.yml
Due: none

refactor: remove docs from appveyor
  azure-pipelines.yml
Due: azure-pipelines.yml

Remove website test
  test/website/test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fix server tests with Node.js v16
  test/server/test-run-commands-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fix Gulpfile.js
  Gulpfile.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fix server tests with Node.js v16 (#6164)
  Gulpfile.js
  test/server/test-run-commands-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

use hh with regression fix
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix: switching to an iframe with the srcdoc attr
  package.json
  test/functional/fixtures/api/es-next/iframe-switching/pages/index.html
  test/functional/fixtures/api/es-next/iframe-switching/test.js
  test/functional/fixtures/api/es-next/iframe-switching/testcafe-fixtures/iframe-switching-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

try latest hh with fix
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

try hh with regression fix
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

bump hh 24.2.0
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

request filter rule predicate
  package.json
  src/api/exportable-lib/index.js
  src/api/request-hooks/request-mock/create-request-mock.ts
  src/api/request-hooks/request-mock/index.ts
  src/notifications/information-message.ts
  src/notifications/warning-log.ts
  src/notifications/warning-message.ts
  src/services/compiler/host.ts
  src/services/compiler/protocol.ts
  src/services/compiler/service.ts
  src/services/serialization/test-structure.ts
  src/utils/render-template.ts
  test/functional/fixtures/api/es-next/request-hooks/pages/page2.html
  test/functional/fixtures/api/es-next/request-hooks/test.js
  test/functional/fixtures/api/es-next/request-hooks/testcafe-fixtures/request-logger/request-filter-rule-predicate.js
  test/functional/fixtures/compiler-service/test.js
  ts-defs-src/test-api/request-hook.d.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml
